@font-face {
    font-family: "IRANMarker";
    src: url("../fonts/IRANMarker.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "IRANMarker", sans-serif;
}