@font-face {
    font-family: "IRANMarker";
    src: url("../fonts/IRANMarker.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

*{
    direction: rtl;
    box-sizing: border-box;
}

body {
    font-family: "IRANMarker", sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
    
}